@font-face {
    font-family: pontano;
    src: url('pontano-sans.ttf');
}

@font-face {
    font-family: glitch;
    src: url('glitch.ttf');
}

@font-face {
    font-family: mc-runes;
    src: url('mc-runes.ttf');
}

@font-face {
    font-family: cyberway;
    src: url('cyberway.ttf');
}